.img-fluid {
    max-width: 10% !important;
    margin-right: 17% !important;
  }
  
  .flex {
    display: flex;
  }

  .navbar {
    padding-top: 5 !important;
    padding-bottom: 0 !important;
    min-height: 15px !important;
    max-height: 60px !important;
 }