@import "~bootstrap/dist/css/bootstrap.css";

/* You can add global styles to this file, and also import other style files */
/* .alert {
    width:40%; 
    height: 45px;   
 } */

.themeColor {
   background-color: #122c30;
}

#ngb-live{
   visibility: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
